* {
    box-sizing: border-box;
  }

  @media screen and (max-width: 600px) {
    
    }
    #container {
      box-align: center;
      box-align: center;
      align-content: center;
      align-self: center;
      background-color: rgb(77, 160, 9);
      text-decoration-color: rgb(0, 10, 100);
      width: 50%;
      text-align: center;
  
    }
    body {
      margin: auto;
      flex: auto;
      background-image: url("../images/sunrise.jpeg");
      width: 100%;
      height: 100%;
      image-rendering: auto;
    }
    #h1 {
      color: aqua;
      margin-top: 20%;
    }
    #content { 
      background-image: url("../images/topgunbackground.jpeg");
      fill: 100%;
      height: 100%;
      align-content: center;
      background-color: rgb(241, 237, 223);
      width: auto;
      color: #ee1818;
      border-color:#cccccc;
      font-size: 16px;
      text-decoration-color: rgb(0, 0, 0);
      text-align: center;
      margin-left: auto;
      margin-right:auto;
      align: auto;
      margin-top:0;
      font-family: 'Margarine', cursive;
      font-family: 'Merriweather', serif;
      margin: auto;
      resize: both;
      image-rendering: auto;
      image-resolution: auto;
      box-sizing: auto;
      
    }
    #scoreboard {
        margin-top: 10px;
        display:inline-block;
        align-content: left;
        display: block;
        height: auto;
        background-color: rgb(221, 65, 65);
        width: auto;
        color: #f1f1f1;
        border-color:#cccccc;
        font-size: 16px;
        text-decoration-color: rgb(0, 0, 0);
        text-align: left;
        top: 0;
        left: 0;
        align: left;
        background-position: relative;
        margin-top:0;
        font-family: 'Margarine', cursive;
        font-family: 'Merriweather', serif;

    }
    #totalscore {
        background: #cccccc;
        width: auto;
    
    }
    #crystals{

    width: 700px;
    float:flex;
    }


  
    #header {
  
      align-content: center;
    }
   
  
    #h1 {
  
      text-align: center;
    }  
    button:focus {
      background: aqua
    }
   
    }
  
    
  
    
    